cython
hg+http://bitbucket.org/pygame/pygame
git+https://github.com/kivy/kivy.git
sphinx
blockdiag
sphinxcontrib-blockdiag
seqdiag
sphinxcontrib-seqdiag
actdiag
sphinxcontrib-actdiag
nwdiag
sphinxcontrib-nwdiag
